<div class="row">
	<div id="mainstory">
		<div id="update-fields">
			<div class="row">
				<div class="col-md-8 col-xs-10">
					<span class="status-updated-date">Your current status (click to edit)</span><br/>
						<div id="current_status" class="rest-in-place" data-url="/users/<%=@user.id%>" data-object="user" data-attribute="current_status">
							<%= @user.current_status %>
						</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-8 col-xs-10">
					<%= form_for(Accomplishment.new(:user => @user), :url => { :controller => "accomplishments", :user_id => @user.id, :action => "create" }, :remote => true) do |f| %>
						<p><span class="status-updated-date">Add an accomplishment</span><br/>
					<%= f.text_field :accomplishment, :size => 80, :class => "new-accomplishment" %>
					<%= submit_tag 'Add', :class => "btn" %>
					</p>
					<% end -%>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div id="recent" class="col-md-8 col-xs-10">
		<h1>Recently</h1>
		<div id="timeline">
			<%= render :partial => "timeline" %>
		</div>
	</div>
	<div id="everyone" class="col-md-4 col-xs-8">
		<%= render :partial => "everyone" %>
	</div>
</div>