<!DOCTYPE html>
<html>
<head>
   <title><%= AtWork::ORGANIZATION %> at Work</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <div id="header">
    <% if current_user %><p style="float: right; padding: 10px;">Logged in as <%= current_user.first_name %><br/><a href="/logout">Logout</a>
    <% if current_user.admin? %>
    <br/>
    <%= link_to "Admin", :controller => "users" %>
    <% end %>
    </p>
    <% end %>
        <h1><%= link_to AtWork::ORGANIZATION + "@ work", "/" %></h1>
        <div id="divider">&nbsp;</div>
    </div>
    <div id="innerwrapper">
        <div id="contentcolumn">
        <div id="errorExplanation"><%= flash[:notice] %></div>
            <div id="content">
                <%= yield %>
            </div>
        </div>
    </div>
	</div>
</body>
</html>
